apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  labels:
    app: monitor-backend
spec:
  selector:
    app: monitor-backend
  ports:
    - name: http
      port: 8081
      targetPort: 8081
  type: ClusterIP

