apiVersion: apps/v1
kind: Deployment
metadata:
  name: monitor-backend
  labels:
    app: monitor-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: monitor-backend
  template:
    metadata:
      labels:
        app: monitor-backend
    spec:
      containers:
        - name: monitor-backend
          image: ops86199/dashboard-backend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081
          readinessProbe:
            httpGet:
              path: /metrics/summary
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /metrics/summary
              port: 8081
            initialDelaySeconds: 20
            periodSeconds: 20
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

