apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  labels:
    app: monitor-frontend
spec:
  selector:
    app: monitor-frontend
  ports:
    - name: http
      port: 80
      targetPort: 80
  type: LoadBalancer

