apiVersion: apps/v1
kind: Deployment
metadata:
  name: monitor-frontend
  labels:
    app: monitor-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: monitor-frontend
  template:
    metadata:
      labels:
        app: monitor-frontend
    spec:
      containers:
        - name: monitor-frontend
          image: REPLACE_FRONTEND_IMAGE
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 20
            periodSeconds: 20
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

